li {
  margin-bottom: 10px;
  list-style: none;
  max-width: 700px;

  h4 {
    font-size: 1.1em;
    margin: 10px 10px 10px 0;
    font-weight: 500;
  }
  p {
      font-size: 90%;
  }
}

.comment {
  background-color: #FFFCFC;
  color: #424242;
  border: 2px ridge #F44336;
  border-radius: 25px;
  h4{
    color: #424242;
  }
}

.modifybutton{
  background-color: transparent;
  border: none;
  i {
    color: #F44336;
  }
}