<mat-card class="col-10 m-auto">
    <div>
      <form [formGroup]="NewPostForm" enctype="multipart/form-data">
        <div class="form-group">
          <label for="title">Nom du post</label>
          <input type="text" id="title" formControlName="title" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="descriptionPost">Contenue</label>
            <input type="text" id="descriptionPost" formControlName="content" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="categorie">Catégorie</label>
          <select id="categorie" class="form-control" formControlName="categorie" name="categorie" [(ngModel)]="roleSelect" value='Work'>
            <option value="Works">Work</option>
            <option value="Event">Evenement</option>
            <option value="Coffee break">Coffee Break</option>
          </select>
          <label for="file">Média</label>
          <input type="file" formControlName="attachement" name="attachement" class="form-control" (change)="selectedFile($event)">
        </div>
        <button mat-raised-button aria-label="open signin form" class="btn--mid" type="submit" (click)="onSubmit()" [disabled]="NewPostForm.invalid">New post !</button>
      </form>
    </div>
</mat-card>