<app-header></app-header>

<div class="row col-sm-8 col-sm-offset-2 m-auto">
    <div>
      <form (ngSubmit)="onSubmit(postForm)" #postForm="ngForm">
        <div class="form-group">
          <label for="title">Nom du post</label>
          <input name="title" type="text" id="title" class="form-control" ngModel required>
        </div>
        <div class="form-group">
            <label for="descriptionPost">Contenue</label>
            <input name="descriptionPost" type="text" id="descriptionPost" class="form-control" ngModel required>
        </div>
        <div class="form-group">
          <label for="categorie">Catégorie</label>
          <select id="categorie" class="form-control" name="categorie" ngModel required>
            <option value="works">Work</option>
            <option value="event">Evenement</option>
            <option value="Machine à café">Machine à café</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary align-self-center m-2" [disabled]="postForm.invalid">Enregistrer</button>
      </form>
    </div>
</div>