<header>
  <h1 class="text-center"><img src="../../assets/icon-above-font-transparent.png"></h1>
  <nav>
    <button class='btn' (click)="goOnUser()"><i class="fas fa-user"></i></button>
    <button *ngIf="!newPost" id="newPost" (click)="openNewPost()"><i class="fas fa-paper-plane"></i></button>
    <button *ngIf="newPost" id="newPost" (click)="hideNewPost()"><i class="fas fa-paper-plane"></i></button>
    <button class='btn' (click)="userDeconnexion()"><i class="fas fa-power-off"></i></button>
  </nav>
</header>
<div class="container">
  <app-new-post *ngIf="newPost"></app-new-post>
  <div class="row align-self-center">
    <ul class='list-group p-0'>
      <app-post *ngFor="let post of posts" [postId]="post.postId" [title]="post.title" [attachement]="post.attachement" [content]="post.content"
        [categorie]="post.categorie" [likes]="post.likes" [dislikes]="post.dislikes" [createdUserId]="post.createdUserId" [attachement]="post.attachement">
      </app-post>
    </ul>
  </div>
</div>
