<header>
  <h1 class="text-center">Groupomania</h1>
  <nav>
    <button class='btn' (click)="goOnPosts()"><i class="fas fa-comment-alt"></i></button>
    <!-- <button *ngIf="!newPost" id="newPost" (click)="openNewPost()">Ajouter un Post</button>
        <button *ngIf="newPost" id="newPost" (click)="hideNewPost()">Fermer le nouveau post</button> -->
    <button class='btn' (click)="userDeconnexion()"><i class="fas fa-power-off"></i></button>
  </nav>
</header>


<main class="container col-lg-6 col-md-8">
  <h2>My Accompt</h2>
  <mat-card class="user__info">
    <mat-card-title>Ma bio</mat-card-title>
    <div class="d-flex">
      <div class="user__info__avatar">
        <!-- <img matCardAvatar *ngIf="!this.user.avatarUrl" src="../../assets/Point-interrogation.jpg"> -->
        <!-- <img matCardAvatar *ngIf="this.user.avatarUrl" [src]="this.user.avatarUrl" /> -->
      </div>
      <div class="user__info__bio">
        <div class="user__info__bio__parution">
          <p *ngIf="!this.haveBio">No bio here ...</p>
          <p *ngIf="this.haveBio">{{this.user.bio}}</p>
        </div>
      </div>
    </div>

  </mat-card>

  <mat-card class="user__personnal mb-2">
    <mat-card-title>Personnal informations</mat-card-title>
    <div class="d-flex justify-content-around">
      <div class="user__personnal__firstname">
        <mat-card-subtitle>
          First Name
          <button (click)="modifyFirstName()" class="modifyButton"><i class="fas fa-wrench"></i></button>
        </mat-card-subtitle>
        <mat-card-content>
        {{this.user.firstName}}
        </mat-card-content>
        <form *ngIf="showFirstName" (ngSubmit)="changeFirstName(firstName)" #firstName="ngForm">
          <label>Enter your firstname</label>
          <div class="d-flex">
            <input type="text" class="form-control" id="firstName" name="firstName"
            required ngModel>
            <button type="submit" class="modifyButton"><i class="far fa-paper-plane"></i></button>
          </div>
        </form>
      </div>
      <div class="user__personnal__lastname">
        <mat-card-subtitle>
          Last Name
          <button (click)="modifyLastName()" class="modifyButton"><i class="fas fa-wrench"></i></button>
        </mat-card-subtitle>
        <mat-card-content>
          {{ user.lastName }}
        </mat-card-content>
        <form *ngIf="showLastName" (ngSubmit)="changeLastName(lastname)" #lastname="ngForm">
          <label>Enter your lastname</label>
          <div class="d-flex">
            <input type="text" class="form-control" id="fastName" name="lastName"
            required ngModel>
            <button type="submit" class="modifyButton"><i class="far fa-paper-plane"></i></button>
          </div>
        </form>
      </div>
      <div class="user__personnal__role">
        <mat-card-subtitle>
          Role
          <button class="modifyButton" (click)="modifyRole()"><i class="fas fa-wrench"></i></button>
        </mat-card-subtitle>
        <mat-card-content>
          <p *ngIf="!user.role">No role yet ...</p>
          <p>{{ user.role }}</p>
        </mat-card-content>
        <mat-card-content>
          <form *ngIf="showRole" (ngSubmit)="changeRole(role)" #role="ngForm">
            <label for="role">Choose your role</label>
            <div class="d-flex">
              <select class="form-control" name="role" id="role" ngModel required>
                <option value="Marketing">Marketing</option>
                <option value="IT">IT</option>
                <option value="Commercial">Commercial</option>
              </select>
              <button type="submit" class="modifyButton"><i class="far fa-paper-plane"></i></button>
            </div>
          </form>
        </mat-card-content>
      </div>
    </div>
  </mat-card>

  <mat-card class="user__accompt">
    <mat-card-title>Accompt informations</mat-card-title>
    <div>
      <button type="submit" (click)="deleteAccompte()">Delete your accompt</button>
      <!-- <button type="submit" (click)="showPassword()">Change your password</button>
      <button type="submit" (click)="modifyEmail()">Change your email</button> -->
    </div>
  </mat-card>
</main>
