<li class='card mt-3'>
  <mat-card>
    <mat-card-title>
      <h3>{{title}}</h3>
    </mat-card-title>
    <mat-card-subtitle>
      <p>Appartient à la catégorie :<br><strong>{{ categorie }}</strong></p>
    </mat-card-subtitle>
      <img mat-card-image class="img-card d-flex align-items-self" [src]="attachement">
    <mat-card-content>
      <p>{{ content }}</p>
      <div class="d-flex like">
        <p><i  class="far fa-thumbs-up"><i *ngIf="isLiked" class="fas fa-thumbs-up"></i></i>{{ like }}</p>
        <p><i class="far fa-thumbs-down"></i><i *ngIf="isLiked" class="fas fa-thumbs-down"></i>{{ dislike }}</p>
      </div>
    </mat-card-content>
    <button *ngIf="!showComments" mat-raised-button aria-label="open signin form" class="btn--mid m-auto"
      id="buttoncomment" (click)="openComments()">Show comments<mat-icon>filter_list</mat-icon></button>
    <div *ngIf="showComments">
      <app-comments *ngFor="let comment of comments" [commentId]="comment.commentId" [content]="comment.content">
      </app-comments>
      <input type="text">
    </div>
    <button *ngIf="showComments" mat-raised-button aria-label="open signin form" class="btn--mid m-auto"
      id="buttoncomment" (click)="closeComment()">Close comments<mat-icon>filter_list</mat-icon></button>
  </mat-card>
