<li class='card m-3'>
  <h2>{{ title }}</h2>
  <p> {{ content }}</p>
  <p> Like : {{ like }} </p>
  <p> Dislike : {{ dislike }}</p>
  <p>Appartient à la catégorie <strong>{{ categorie }}</strong></p>
  <button *ngIf="!showComments" id="buttoncomment" (click)="openComments()"></button>
  <div *ngIf="showComments">
  <app-comments
                *ngFor="let comment of comments"
                        [commentId]="comment.commentId"
  ></app-comments>
  </div>
  <button *ngIf="showComments" (click)="closeComment()">closeComment</button>
 
