<form class="container-login auth__form col-12" [formGroup]="signupForm" (ngSubmit)="onSignup()">
  <div class="auth__form__input">
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input matInput type="email" class="form-control" id="email"
        formControlName="email" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'text' : 'password'" class="form-control" id="password"
        formControlName="password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide;$event.preventDefault()"
        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>
          {{hide ? 'visibility' : 'visibility_off'}}
        </mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your lastname</mat-label>
      <input matInput placeholder="Jeremy" type="text" class="form-control" id="lastName"
      formControlName="lastName" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your firstname</mat-label>
      <input matInput placeholder="Tardini" type="text" class="form-control" id="firstName"
      formControlName="firstName" required>
    </mat-form-field>
  </div>

  <div class="auth__form__create">
    <button class="auth__form__create__button" aria-label="submit logins & connect" class="btn--lg" mat-raised-button
      type="submit">
      Join Us
    </button>
    <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
  </div>
  <div>
  <p>You already have an account ?</p>
  </div>
</form>



